<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>About | Attrition Dashboard</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="http://127.0.0.1:7777/">Attrition Prediction</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="http://127.0.0.1:7777/about">About</a></li>
					<li><a href="http://127.0.0.1:7777/dataset">Dataset</a></li>
					<li><a href="http://127.0.0.1:7777/visualization">Visualization</a></li>
					<li><a href="http://127.0.0.1:7777/eda">EDA</a></li>
					<li><a href="http://127.0.0.1:7777/predict">Predict</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Employee Attrition Prediction</h2>
						<p>Purwadhika Final Project - JCDS - 0506 - BDG</p>
					</header>

					<hr />

					<a href="#" class="image fit"><img src="images/about_wall.jpg" alt="" /></a>
					<div class="row">
						<div class="12u$">
							<h3>Background</h3>
							<p align="justify"><i><b>Employee Attrition</b></i> adalah kondisi ketika karyawan memutuskan untuk meninggalkan perusahaan, baik karena pensiun, masalah kesehatan, mencari kesempatan di perusahaan lain untuk meningkatkan karir, ketidakcocokan dengan kultur perusahaan, dan alasan lainnya. Pada dasarnya, keluar masuk karyawan merupakan hal yang normal, namun bagaimana jika tingkat <i>attrition</i> di perusahaan sangat tinggi? Ini dapat merugikan perusahaan.Perusahaan harus mengeluarkan biaya ekstra untuk melakukan perekrutan dan pelatihan karyawan baru.</p>
							<br>
							<p align="justify">Melakukan prediksi terhadap adanya karyawan yang mengundurkan diri dapat menjadi salah satu upaya dalam mencegah permasalah <i>attrition</i>. Setelah mendapatkan hasil prediksi, perusahaan diharapkan dapat menerapkan strategi untuk memenuhi ekspektasi dan kebutuhan karyawan yang akan mengundurkan diri. Dengan begitu, kepuasan pekerjaan karyawan dapat meningkat serta mengurangi biaya tambahan untuk merekrut dan melatih karyawan baru.</p>
						</div>

						<div class="4u 12u(3)">
							<br>
							<br>
							<h3>Goals</h3>
							<p align="justify">Memprediksi karyawan yang akan mengundurkan diri dan mengetahui faktor apa saja yang dapat memicu masalah tersebut.</p>
							<br>
							<br>
						
							<h3>Data Processing</h3>
							<p align="justify">Beberapa tahap yang dilakukan terhadap data yang diperoleh adalah sebagai berikut :</p>
							<ol>
								<li><i>Preparation data</i></li>
								<li><i>Data cleansing</i></li>
								<li><i>Exploratory Data Analysis (EDA)</i></li>
								<li><i>Modeling</i></li>
								<li><i>Model evaluation & model comparison</i></li>
								<li><i>Deployment</i></li>
							</ol>
						</div>

						<div class="8u$ 12u(3)">
							<br>
							<br>
							<h3>Dataset Information</h3>
							<p align="justify">Data yang diperoleh bersumber dari situs <a href="https://www.kaggle.com/colearninglounge/employee-attrition"><b>Kaggle</b></a>. Pengolahan data dilakukan pada <b>employee_attrition_train.csv</b> yang terdiri dari <i><b>35 features</b></i> dan <i><b>1029 rows</b></i>. Adapun informasi setiap <i>feature</i>-nya dapat dilihat pada table berikut :</p>
							<br>
							<div class="table-wrapper" style='overflow: auto; height: 300px; margin:0 auto'>
								<table>
									<thead>
										<tr>
											<th>Features</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<tr class="row1">
											<td class="column0 style0 s">Age</td>
											<td class="column1 style0 s">Employee age</td>
										  </tr>
										  <tr class="row2">
											<td class="column0 style0 s">Attrition</td>
											<td class="column1 style0 s">Employee leaving the company (0=No, 1=Yes)</td>
										  </tr>
										  <tr class="row3">
											<td class="column0 style0 s">BusinessTravel</td>
											<td class="column1 style0 s">(1=No Travel, 2=Travel Frequently, 3=Travel Rarely)</td>
										  </tr>
										  <tr class="row4">
											<td class="column0 style0 s">DailyRate</td>
											<td class="column1 style0 s">Salary Level</td>
										  </tr>
										  <tr class="row5">
											<td class="column0 style0 s">Department</td>
											<td class="column1 style0 s">(1=HR, 2=R&amp;D, 3=Sales)</td>
										  </tr>
										  <tr class="row6">
											<td class="column0 style0 s">DistanceFromHome</td>
											<td class="column1 style0 s">Distance from home to company</td>
										  </tr>
										  <tr class="row7">
											<td class="column0 style0 s">Education</td>
											<td class="column1 style0 s">(1 =Below College,  2 =College, 3 =Bachelor,  4 =Master,  5 =Doctor)</td>
										  </tr>
										  <tr class="row8">
											<td class="column0 style0 s">EducationField</td>
											<td class="column1 style0 s">(1=HR, 2=Life Sciences, 3=Marketing, 4=Medical Sciences, 5=Others, 6= Technical)</td>
										  </tr>
										  <tr class="row9">
											<td class="column0 style0 s">EmployeeCount</td>
											<td class="column1 style0 s">Employee amount</td>
										  </tr>
										  <tr class="row10">
											<td class="column0 style0 s">EmployeeNumber</td>
											<td class="column1 style0 s">Employee ID</td>
										  </tr>
										  <tr class="row11">
											<td class="column0 style0 s">EnvironmentSatisfication</td>
											<td class="column1 style0 s">Satisfaction with the environment (1 =Low, 2 =Medium, 3 =High, 4 =Very High)</td>
										  </tr>
										  <tr class="row12">
											<td class="column0 style0 s">Gender</td>
											<td class="column1 style0 s">(1=Female, 2=Male)</td>
										  </tr>
										  <tr class="row13">
											<td class="column0 style0 s">HourlyRate</td>
											<td class="column1 style0 s">Hourly salary</td>
										  </tr>
										  <tr class="row14">
											<td class="column0 style0 s">JobInvolvement</td>
											<td class="column1 style0 s">(1 =Low, 2=Medium, 3=High, 4=Very High)</td>
										  </tr>
										  <tr class="row15">
											<td class="column0 style0 s">JobLevel</td>
											<td class="column1 style0 s">Level of job</td>
										  </tr>
										  <tr class="row16">
											<td class="column0 style0 s">JobRole</td>
											<td class="column1 style0 s">(1=HR Rep, 2=HR, 3=Lab Technician, 4=Manager, 5=Managing Director, 6=Research Director, 7=Research Scientist, 8=Sales Executive, 9= Sales Representative)</td>
										  </tr>
										  <tr class="row17">
											<td class="column0 style0 s">JobSatisfication</td>
											<td class="column1 style0 s">(1 =Low, 2=Medium, 3=High, 4=Very High)</td>
										  </tr>
										  <tr class="row18">
											<td class="column0 style0 s">MaritalStatus</td>
											<td class="column1 style0 s">(1=Divorced, 2=Married, 3=Single)</td>
										  </tr>
										  <tr class="row19">
											<td class="column0 style0 s">MonthlyIncome</td>
											<td class="column1 style0 s">Monthly salary</td>
										  </tr>
										  <tr class="row20">
											<td class="column0 style0 s">MonthlyRate</td>
											<td class="column1 style0 s">Monthly rate</td>
										  </tr>
										  <tr class="row21">
											<td class="column0 style0 s">NumCompaniesWorked</td>
											<td class="column1 style0 s">Number of companies worked at</td>
										  </tr>
										  <tr class="row22">
											<td class="column0 style0 s">Over18</td>
											<td class="column1 style0 s">(1=Yes, 2=No)</td>
										  </tr>
										  <tr class="row23">
											<td class="column0 style0 s">OverTime</td>
											<td class="column1 style0 s">(1=No, 2=Yes)</td>
										  </tr>
										  <tr class="row24">
											<td class="column0 style0 s">PercentSalaryHike</td>
											<td class="column1 style0 s">Percentage increase in salary</td>
										  </tr>
										  <tr class="row25">
											<td class="column0 style0 s">PerformanceRating</td>
											<td class="column1 style0 s">Performance rating</td>
										  </tr>
										  <tr class="row26">
											<td class="column0 style0 s">RelationshipSatisfication</td>
											<td class="column1 style0 s">Relations satisfaction</td>
										  </tr>
										  <tr class="row27">
											<td class="column0 style0 s">StandardHours</td>
											<td class="column1 style0 s">Standard hours employee work</td>
										  </tr>
										  <tr class="row28">
											<td class="column0 style0 s">StockOptionLevel</td>
											<td class="column1 style0 s">Stock options (higher the number, the more stock option an employee has)</td>
										  </tr>
										  <tr class="row29">
											<td class="column0 style0 s">TotalWorkingYears</td>
											<td class="column1 style0 s">Total years employee worked</td>
										  </tr>
										  <tr class="row30">
											<td class="column0 style0 s">TrainingTimesLastYear</td>
											<td class="column1 style0 s">Hours spent training</td>
										  </tr>
										  <tr class="row31">
											<td class="column0 style0 s">WorkLifeBalance</td>
											<td class="column1 style0 s">Time spent between work and outside</td>
										  </tr>
										  <tr class="row32">
											<td class="column0 style0 s">YearsAtCompany</td>
											<td class="column1 style0 s">Total number of years at the company</td>
										  </tr>
										  <tr class="row33">
											<td class="column0 style0 s">YearsInCurrentRole</td>
											<td class="column1 style0 s">Years in current role</td>
										  </tr>
										  <tr class="row34">
											<td class="column0 style0 s">YearsSinceLastPromotion</td>
											<td class="column1 style0 s">Last promotion</td>
										  </tr>
										  <tr class="row35">
											<td class="column0 style0 s">YearsWithCurrManager</td>
											<td class="column1 style0 s">Years spent with current manager</td>
										  </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="8u 12u$(medium)">
						<ul class="copyright">
							<li>&copy; Untitled. All rights reserved.</li>
							<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
							<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
						</ul>
					</div>
					<div class="4u$ 12u$(medium)">
						<ul class="icons">
							<li>Modified by Rizki Adi P. | 2021</li>
							<li><a href="https://www.instagram.com/rizkiadip/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/rizkiadiprayitno/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/rizkiadip" class="icon fa-github"><span class="label">Github</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>