{% extends 'base.html' %}

{% block title%} FLASK Project - Predict {% endblock %}

{% block content %}
<div class="container pt 5">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <h3> Fill this form to Predict Attrition</h3>
            <form action="/predict" method="POST">
                <!-- Age -->
                <input type="number" name="Age" class="form-control form-control-sm mt-2" max='80' min='18' placeholder='Age'>

                <!-- BusinessTravel -->
                <select class='form-control form-control-sm mt-2' name="BusinessTravel">
                    <option value="" disabled selected>Business Travel</option>
                    <option value="Non-Travel">Non-Travel</option>
                    <option value="Travel_Rarely">Travel_Rarely</option>
                    <option value="Travel_Frequently">Travel_Frequently</option>
                </select>

                <!-- Department -->
                <select class='form-control form-control-sm mt-2' name="Department">
                    <option value="" disabled selected>Department</option>
                    <option value="Research & Development">Research & Development</option>
                    <option value="Sales">Sales</option>
                    <option value="Human Resources">Human Resources</option>
                </select>

                <!-- DistanceFromHome -->
                <input type="number" name="DistanceFromHome" class="form-control form-control-sm mt-2" max='29' min='1' placeholder='DistanceFromHome'>
                
                <!-- Education -->
                <input type="number" name="Education" class="form-control form-control-sm mt-2" max='5' min='1' placeholder='Education'>

                <!-- EducationField -->
                <select class='form-control form-control-sm mt-2' name="EducationField">
                    <option value="" disabled selected>Education Field</option>
                    <option value="Life Sciences">Life Sciences</option>
                    <option value="Medical">Medical</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Technical Degree">Technical Degree</option>
                    <option value="Other">Other</option>
                    <option value="Human Resources">Human Resources</option>
                </select>

                <!-- EnvironmentSatisfaction -->
                <input type="number" name="EnvironmentSatisfaction" class="form-control form-control-sm mt-2" max='4' min='1' placeholder='EnvironmentSatisfaction'>

                <!-- Gender -->
                <select class='form-control form-control-sm mt-2' name="Gender">
                    <option value="" disabled selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <!-- JobInvolvement -->
                <input type="number" name="JobInvolvement" class="form-control form-control-sm mt-2" max='4' min='1' placeholder='JobInvolvement'>

                <!-- JobLevel -->
                <input type="number" name="JobLevel" class="form-control form-control-sm mt-2" max='5' min='1' placeholder='JobLevel'>

                <!-- JobRole -->
                <select class='form-control form-control-sm mt-2' name="JobRole">
                    <option value="" disabled selected>Job Role</option>
                    <option value="Sales Executive">Sales Executive</option>
                    <option value="Research Scientist">Research Scientist</option>
                    <option value="Laboratory Technician">Laboratory Technician</option>
                    <option value="Manufacturing Director">Manufacturing Director</option>
                    <option value="Healthcare Representative">Healthcare Representative</option>
                    <option value="Manager">Manager</option>
                    <option value="Sales Representative">Sales Representative</option>
                    <option value="Research Director">Research Director</option>
                    <option value="Human Resources">Human Resources</option>
                </select>

                <!-- JobSatisfaction -->
                <input type="number" name="JobSatisfaction" class="form-control form-control-sm mt-2" max='4' min='1' placeholder='JobSatisfaction'>

                <!-- MaritalStatus -->
                <select class='form-control form-control-sm mt-2' name="MaritalStatus">
                    <option value="" disabled selected>Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                </select>

                <!-- MonthlyIncome -->
                <input type="number" name="MonthlyIncome" class="form-control form-control-sm mt-2" max='19999' min='1009' placeholder='MonthlyIncome'>

                <!-- MonthlyRate -->
                <input type="number" name="MonthlyRate" class="form-control form-control-sm mt-2" max='26999' min='2094' placeholder='MonthlyRate'>

                <!-- NumCompaniesWorked -->
                <input type="number" name="NumCompaniesWorked" class="form-control form-control-sm mt-2" max='9' min='0' placeholder='NumCompaniesWorked'>

                <!-- Overtime -->
                <select class='form-control form-control-sm mt-2' name="OverTime">
                    <option value="" disabled selected>Overtime</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <!-- PercentSalaryHike -->
                <input type="number" name="PercentSalaryHike" class="form-control form-control-sm mt-2" max='25' min='11' placeholder='PercentSalaryHike'>

                <!-- PerformanceRating -->
                <input type="number" name="PerformanceRating" class="form-control form-control-sm mt-2" max='4' min='3' placeholder='PerformanceRating'>

                <!-- RelationshipSatisfaction -->
                <input type="number" name="RelationshipSatisfaction" class="form-control form-control-sm mt-2" max='4' min='1' placeholder='RelationshipSatisfaction'>

                <!-- StockOptionLevel -->
                <input type="number" name="StockOptionLevel" class="form-control form-control-sm mt-2" max='3' min='0' placeholder='StockOptionLevel'>

                <!-- TotalWorkingYears -->
                <input type="number" name="TotalWorkingYears" class="form-control form-control-sm mt-2" max='40' min='0' placeholder='TotalWorkingYears'>

                <!-- TrainingTimesLastYear -->
                <input type="number" name="TrainingTimesLastYear" class="form-control form-control-sm mt-2" max='6' min='0' placeholder='TrainingTimesLastYear'>

                <!-- WorkLifeBalance -->
                <input type="number" name="WorkLifeBalance" class="form-control form-control-sm mt-2" max='4' min='1' placeholder='WorkLifeBalance'>

                <!-- YearsAtCompany -->
                <input type="number" name="YearsAtCompany" class="form-control form-control-sm mt-2" max='37' min='0' placeholder='YearsAtCompany'>

                <!-- YearsInCurrentRole -->
                <input type="number" name="YearsInCurrentRole" class="form-control form-control-sm mt-2" max='18' min='0' placeholder='YearsInCurrentRole'>

                <!-- YearsSinceLastPromotion -->
                <input type="number" name="YearsSinceLastPromotion" class="form-control form-control-sm mt-2" max='15' min='0' placeholder='YearsSinceLastPromotion'>

                <!-- YearsWithCurrManager -->
                <input type="number" name="YearsWithCurrManager" class="form-control form-control-sm mt-2" max='7' min='0' placeholder='YearsWithCurrManager'>
               
                <br>
                <center>
                    <input type="submit" value="Start Prediction"> 
                    <button type="reset" onclick="document.location.reload()">Reset Submission</button> 
                </center>
                
            </form>
        </div>
    </div>
</div>

    <br>
    <center> 
    <h4 style="background-color:rgb(255, 152, 152)"> <i>{{ results }}</i> </h4>
    </center>
    <br>
    <br>
</body>
</html>

{% endblock %}
